######################################################################
include ../mk/include_guard.mk
#
# Local settings Makefile for building various versions of
# Alan compiler
#
# Copy this file to Makefile.local and enable extra targets that depend
# on third party libraries by uncommenting and adjusting below

# Enable WinAlan:
#WINALAN_ENABLED = true
#EXTRA_CROSS_TARGETS += winalan

# winalan's cross compiler now comes from Makefile.win32, so a clean
# checkout builds it without this file. Override MINGW64_PREFIX here if
# yours is named differently; on Msys Mingw-variants it is just gcc/windres.

# We might need to locate -lcgreen
linked_unittests isolated_unittests: LDLIBS += -L/usr/local/lib
