#include "resources.h"
#include "winuser.h"

IDR_ARUN MENU DISCARDABLE 
BEGIN
    POPUP "&Arun"
    BEGIN
        MENUITEM "Res&tart",			ID_MENU_RESTART
        MENUITEM "&Save",			ID_MENU_SAVE
        MENUITEM "&Restore",			ID_MENU_RESTORE
        MENUITEM "&About Arun",			ID_MENU_ABOUT
    END
END

IDR_ARUN      ICON DISCARDABLE "arun.ico"
IMAGE1		FILE "arun.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    ID_MENU_ABOUT           "About Arun\nAbout Arun"
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT DIALOGEX 0, 0, 220, 140
STYLE DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "About Arun"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,160,120,50,15
    GROUPBOX        "About Arun",IDC_STATIC,10,10,200,50
    ICON            IDR_ARUN, IDC_STATIC, 12, 18, 0, 0, 0, WS_EX_CLIENTEDGE
    LTEXT           "Pre-view version WINARUNVERSION\nAlan Adventure Language, compiler and interpreter design: Thomas Nilsson\nWindows interpreter: Thomas Nilsson\nOriginal GLK adaptation: Joe Mason"
                    IDC_STATIC,45,20,160,33
    GROUPBOX        "Additional Credits",IDC_STATIC,10,70,200,40
    LTEXT           "Initial inspiration to the Alan language: Göran Forslund\nContinuing encuragement and bug finding: Steve Griffiths\nVisit the Alan Home Pages at http://welcome.to/alan-if",
                    IDC_STATIC,15,80,190,25
END
